{% extends "root.html" %} {% block content %}
<div>
  <h2>
    <a
      class="underline"
      href="https://lachlanmiller.gumroad.com/l/vuejs-design-patterns"
      >Design Patterns for Vue.js ($30)</a
    >
  </h2>
  <p>
    Aimed at advanced developers with some Vue.js experience looking to dive
    deeper into the more abstract design patterns and concepts that underlie
    software development. This books uses Vue.js 3.
  </p>
  <p>
    We cover separation of concerns, renderless components, dependency injection
    and more. Oh, and write tests for everything, of course!
  </p>
  <h2>
    <a
      class="underline"
      href="https://lmiller1990.github.io/vue-testing-handbook/v3/"
      >Vue Testing Handbook (free)</a
    >
  </h2>
  <p>
    A collection of practical examples on how to test Vue.js components with Vue
    Test Utils. It has amassed over 1 million page views and has been translated
    into Japanese, Chinese, Korean and Russian. I'm honored by the enthusiastic
    volunteers who provided translations.
  </p>
</div>
{% endblock %}
