{% extends "root.html" %} {% block content %}
  <div>
    <p>You can contact me via email,
      <a class="underline" href="mailto:lachlan.miller.1990@outlook.com">lachlan.miller.1990@outlook.com</a>, or via
      <a class="underline" href="https://twitter.com/Lachlan19900">Twitter</a>. My resume can be
      <a class="underline" href="https://lmiller1990.github.io/">found here</a>.
      My code can be found on <a class="underline" href="https://github.com/lmiller1990">GitHub</a>.</p>
  </div>
{% endblock %}
