@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }

  p, ul, h1, h2, h3, table {
    @apply my-2;
  }

  ul {
    @apply list-disc list-inside;
  }

  ol {
    @apply list-decimal list-inside;
  }

  img {
    @apply my-4;
  }

  code, pre {
    @apply bg-gray-100 p-1;
  }

  p > a, li > a {
    @apply underline cursor-pointer;
  }
  
  table {
          @apply w-full;
  }

  td, th { 
    @apply p-2 text-left;
  }
  
  th, td {
          @apply border-2;
  }

}
