{% extends "root.html" %} {% block content %}

  <h2>Recent Work History</h2>

  <div class="mt-4">
    <div class="flex justify-between flex-col sm:flex-row sm:items-baseline">
      <strong><a class="underline" href="https://www.microba.com">Microba Life Sciences</a></strong>
      <span class="text-sm text-gray-600 sm:shrink-0 sm:ml-4">May 2025 - Present</span>
    </div>
    <p>Engineering Manager</p>
    <ul>
      <li>
        Managed a team of 6 engineers, guiding the team through organisational
        restructures while maintaining delivery velocity.
      </li>
      <li>
        Drove adoption of product analytics to inform strategic decisions, helping
        sway the overall trajectory of the organisation.
      </li>
    </ul>
  </div>

  <div class="mt-6">
    <div class="flex justify-between flex-col sm:flex-row sm:items-baseline">
      <strong><a class="underline" href="https://www.microba.com">Microba Life Sciences</a></strong>
      <span class="text-sm text-gray-600 sm:shrink-0 sm:ml-4">Aug 2024 - May 2025</span>
    </div>
    <p>Technical Lead</p>
    <ul>
      <li>
        Led the transformation of Microba from a scrappy science startup into a
        robust software engineering organisation.
      </li>
      <li>
        Led engineering projects spanning engineering, science and clinical teams,
        bridging world-class academic research with industry product development.
      </li>
    </ul>
  </div>

  <div class="mt-6">
    <div class="flex justify-between flex-col sm:flex-row sm:items-baseline">
      <strong><a class="underline" href="https://www.cypress.io/">Cypress.io</a></strong>
      <span class="text-sm text-gray-600 sm:shrink-0 sm:ml-4">Dec 2020 - June 2024</span>
    </div>
    <p>Technical Lead (JavaScript, Vue.js, React.js, Node.js)</p>
    <ul>
      <li>
        Helped grow <a href="https://www.cypress.io/">Cypress</a> from a small
        engineering organisation into a leading development tool used by millions
        of developers.
      </li>
      <li>
        Wrote highly optimised code, benchmarked and performance tuned the core
        test runner, and engaged with the open source community to shape the
        product roadmap.
      </li>
      <li>
        Coordinated sprint planning, retrospectives, and cross-team efforts to
        ship features from inception to release.
      </li>
    </ul>
  </div>

  <div class="mt-6">
    <div class="flex justify-between flex-col sm:flex-row sm:items-baseline">
      <strong><a class="underline" href="https://doseme-rx.com/">DoseMe</a></strong>
      <span class="text-sm text-gray-600 sm:shrink-0 sm:ml-4">Nov 2018 - Nov 2020</span>
    </div>
    <p>Senior Engineer (JavaScript, React, Perl)</p>
    <ul>
      <li>
        I worked on therapeutic dosing software, used to simulate outcomes of IV
        drugs, primarily Vancomycin.
      </li>
      <li>
        As a medical device, my expertise and experience with writing testable,
        defensive code was a key criteria in DoseMeRx's success and market
        adoption.
      </li>
      <li>
        Led development of the SMART on FHIR integration, which led to widespread
        adoption of DoseMe's drug models.
      </li>
      <li>
        Introduced in implemented End to End testing across DoseMe web platform.
      </li>
    </ul>
  </div>

  <div class="mt-6">
    <div class="flex justify-between flex-col sm:flex-row sm:items-baseline">
      <strong>Branu Inc</strong>
      <span class="text-sm text-gray-600 sm:shrink-0 sm:ml-4">Feb 2018 - Sep 2018</span>
    </div>
    <p>Fullstack Developer (JavaScript, Vue.js, Ruby on Rails)</p>
    <ul>
      <li>
        I was a senior developer on site builder + marketing analytics tool. It was
        built with Ruby on Rails and Vue.js.
      </li>
      <li>
        Mentored several developers on TDD, improving the quality of the code and
        speed of development significantly.
      </li>
    </ul>
  </div>

  <div class="mt-6">
    <div class="flex justify-between flex-col sm:flex-row sm:items-baseline">
      <strong>HTM Corporation</strong>
      <span class="text-sm text-gray-600 sm:shrink-0 sm:ml-4">Sep 2016 - Dec 2017</span>
    </div>
    <p>Fullstack Developer (JavaScript, C#)</p>
    <ul>
      <li>
        I worked on an estalished payroll system, and designed and built a project
        management system from scratch.
      </li>
      <li>I used C# .NET Core and Vue.js.</li>
    </ul>
  </div>

  <div class="mt-6">
    <div class="flex justify-between flex-col sm:flex-row sm:items-baseline">
      <strong>Two Red Kites</strong>
      <span class="text-sm text-gray-600 sm:shrink-0 sm:ml-4">Jan 2016 - Aug 2016</span>
    </div>
    <p>Fullstack Developer (JavaScript, Ruby on Rails)</p>
    <ul>
      <li>
        I worked on a range of Ruby on Rails applications as part of a an Agile
        Software Development, with a strong emphasis on TDD and CI.
      </li>
      <li>This is where I learned how to code properly and write tests.</li>
    </ul>
  </div>

  <div class="border-t border-gray-300 my-6"></div>

  <h2>Products and Projects</h2>
  <p>
    I have a
    <a href="https://www.youtube.com/c/LachlanMiller">YouTube channel</a>. I've written two books about Vue.js. They also discuss common design
    patterns, writing testable code, and share other insights I've learned
    over my years of working on complex web applications.
  </p>

  <h3>Design Patterns for Vue.js</h3>
  <p>
    I wrote an advanced book about Vue.js called
    <a href="https://lachlan-miller.me/design-patterns-for-vuejs">Design Patterns for Vue.js</a>. There is a distinct lack of advanced content for Vue.js developers - I am
    looking to change that.
  </p>

  <h3>Vue.js Testing handbook</h3>
  <p>
    I authored a book about Testing Vue.js applications. It is viewed over 1M
    times year. It is probably the most popular resource on testing Vue.js
    applications. You can find it
    <a href="https://github.com/lmiller1990/vue-testing-handbook">here</a>.
  </p>

  <div class="border-t border-gray-300 my-6"></div>

  <h2>Qualifications</h2>
  <ul>
    <li>2016: Bachelor of Software Engineering (QUT, Brisbane)</li>
    <li>2016: Japanese Language Proficieny Test (N1, native proficiency)</li>
  </ul>
</div>
{% endblock %}

