<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
       <link href="/static/output.css" rel="stylesheet">
    <style>
 pre {
  max-width: 100vw; /* Sets the maximum width to 100% of the viewport width */
  width: 100%; /* Ensures the block tries to fill the available space */
  overflow-x: auto; /* Allows horizontal scrolling if content overflows */
  box-sizing: border-box; /* Includes padding and border in the element's total width and height */
}

    </style>
</head>
<body class="font-sans">
  <div class="p-8">
     {% block content %}
     {% endblock %}
  </div>
</body>
</html>
